.img-container {
 z-index: 1;
 
 position: absolute;
}

.image1 {
    height: 18%;
    width: 18%;
    margin-left: 55em;
    border-radius: 20px;
    position: relative;
    top: -40px;
}

.header{
    z-index: 2;
    position: absolute;
}

body {
    position: relative;
}

