.cimgc{
    z-index: 1;
    margin-left: 20cm;
    position: absolute;
}
.ct{
    position: absolute;
    z-index: 2;
}
.imgcaveposition{
    padding-left: 13cm;
    width:  10%;
    height: 10%;;
}
body{
    position:relative;
}