.img-container {
 z-index: 1;
 
 position: absolute;
}

.image1 {
    height: 16%;
    width: 16%;
    margin-left: 20cm;
}
.header{
    z-index: 2;
    position: absolute;
}

body {
    position: relative;
}

