.img-container {
 z-index: 1;
 margin-left: 20cm;
 position: absolute;
}

.image1 {
    height: 16%;
    width: 16%;

}
.header{
    z-index: 2;
    position: absolute;
}

body {
    position: relative;
}