.image-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.image1 {
    height: 23%;
    width: 23%;
    float: right;
    padding-right: 100px;
}

body {
    position: relative;
}