@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');

.header {
    margin-left: 64px;
    font-size: 2em;
    z-index: 2;
    position: absolute;
}

.image1 {
    height: 18%;
    width: 18%;
    margin-left: 64em;
    border-radius: 20px;
}

.test {
    /* background: linear-gradient(0deg, rgb(235, 216, 167) 0%, rgb(224, 209, 171) 40%, rgb(219, 208, 180) 100%); */
    background: rgb(235, 216, 167);
}

.link-button-download {
    padding: 15px;
    background: #00A9D4;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    display: block;
    width: 320px;
    text-align: center;
    margin: 20px auto;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    z-index: 2;
    /* position: relative; */
    box-shadow: 2px 4px 6px 5px rgba(25,25,25,0.55);
}

.link-container {
    /* display: flex;
    justify-content: center; */
    transition: 0.2s ease-in-out;
}

h1 {
    font-size: 3.5em;
    font-family: 'Roboto', sans-serif;
    margin-left: 64px;
}