@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');

body {
    font-size: 4em;
}

.headline3 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.header {
    margin-left: 64px;
    font-size: 0.9em;
}

.test {
    background: linear-gradient(0deg, rgb(235, 216, 167) 0%, rgb(224, 209, 171) 40%, rgb(219, 208, 180) 100%);
}
