body {
    margin: 0;
}

.background {
    background-image: url(../images/ruin-cumae.jpeg);
    background-size: cover;
    filter: blur(8px);
    height: 100vh;
    width: 100vw;
    position: absolute;
    
}

.background-cover {
    /* background: linear-gradient(0deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.5) 40%, rgba(255,255,255,0) 100%); */
    height: 100vh;
    width: 100vw;
    position: absolute;
    
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    position: absolute;
}

.title h1 {
    margin: 0;
}

.title h2 {
    margin: 0;
}

.headline1 {
    color: rgb(240, 240, 240);
    font-family: 'Agbalumo', system-ui;

}

.headline2 {
    color: rgb(230, 230, 230);
    font-family: 'Dangrek', sans-serif;
    font-size: 1em;
}