.background {
    background-image: url(../images/ruin-cumae.jpeg);
    width: 100%;
    height: 366px;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
    margin: 0;
}

.header h2 {
    margin: 0;
}
