.header1 {
    margin-left: 64px;
}

.link-button-download {
    padding: 15px;
    background: #00A9D4;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    border-radius: 12px;
    display: block;
    width: 320px;
    text-align: center;
    margin: 20px auto;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    z-index: 2;
    /* position: relative; */
    box-shadow: 2px 4px 6px 5px rgba(25,25,25,0.55);
}

.link-container {
    display: flex;
    justify-content: center;
    transition: 0.2s ease-in-out;
}